generate_load_scripts: true
source https://api.nuget.org/v3/index.json

storage: none
frameworks: netstandard2.0, netcoreapp2.0

nuget FSharp.Core
nuget FSharp.Compiler.Service

nuget FParsec
nuget NUnit
nuget NBench

group Build
source https://api.nuget.org/v3/index.json
storage: none
frameworks: netstandard2.0, netcoreapp2.0

nuget FAKE
nuget FParsec
